<header id="header" [ngClass]="{ sticky: scrolled }">
  <nav class="navbar">
    <a href="/"><img class="logo" src="assets/images/logo.png"></a>
    <div class="navbar-wrapper">
      <ul class="navbar-list">
        <li class="navbar-list-item">Products</li>
        <li class="navbar-list-item">Solution</li>
        <li class="navbar-list-item">Pricing</li>
      </ul>
      <div class="navbar-buttons">
        <button class="light-btn">Login</button>
        <button class="dark-btn">Get Started</button>
      </div>
    </div>
  </nav>
</header>
