<div class="container benefits-container">
  <div class="flex-row">
    <div class="flex-item bf-1 flex-row pl-3 pr-3">
      <div class="flex-column">
        <div class="box">
          <img class="bf-img" src="assets/images/bf1.png">
          <div class="bf-title">
            Quick cash disbursement
          </div>
          <div class="bf-content">
            Get terms loans that your business needs within 72 hrs
          </div>
        </div>

        <div class="box">
          <img class="bf-img" src="assets/images/bf2.png">
          <div class="bf-title">
            Low-interest rate
          </div>
          <div class="bf-content">
            Achieve your financial goals with an amazing interest rate starting at 13% per annum
          </div>
        </div>

        <div class="box">
          <img class="bf-img" src="assets/images/bf3.png">
          <div class="bf-title">
            Zero Paperwork
          </div>
          <div class="bf-content">
            Get started instantly by submitting only your basic details & bank statements
          </div>
        </div>
      </div>
      <div class="flex-column">
        <div class="box">
          <img class="bf-img" src="assets/images/bf4.png">
          <div class="bf-title">
            Ace your business finances
          </div>
          <div class="bf-content">
            Manage banking, accounting & everything in between, on one platform
          </div>
        </div>

        <div class="box">
          <img class="bf-img" src="assets/images/bf5.png">
          <div class="bf-title">
            Loans to fight COVID-19
          </div>
          <div class="bf-content">
            Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh
          </div>
        </div>
      </div>
    </div>
    <div class="flex-item bf-2">
      <div class="main-1-text  mb-2">
        Boost your business with Open
      </div>
      <img class="main-1-line" src="assets/images/line.svg">
      <div class="sec-text">
        Get your hands on a term loan that’s crafted for your business
      </div>
      <button class="light-btn ml-3 mr-3">Get an Open Account</button>
    </div>
  </div>
</div>
