@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$font : 'Montserrat',
sans-serif;
$font2: 'Open Sans',
sans-serif;

$font-color:#222;
$font-sec-color:#777;
// colors
$white: #fff;
$primary: #639;
$light-primary: #9f62c9;

$box-bg:#f9f9f9;

$palette: (
    50 : #ede7f3,
    100 : #d1c2e0,
    200 : #b399cc,
    300 : #9470b8,
    400 : #7d52a8,
    500 : #663399,
    600 : #5e2e91,
    700 : #532786,
    800 : #49207c,
    900 : #38146b,
    A100 : #c5a2ff,
    A200 : #a56fff,
    A400 : #843cff,
    A700 : #7423ff,
    contrast: (
        50 : #222,
        100 : #222,
        200 : #222,
        300 : #222,
        400 : $white,
        500 : $white,
        600 : $white,
        700 : $white,
        800 : $white,
        900 : $white,
        A100 : #222,
        A200 : #222,
        A400 : $white,
        A700 : $white,
    )
);