@import "reset";
@import "variables";
@import "theme";
@import "elements";

body {
  font-family: $font;
  color: $font-color;
}

.header {
  display: fixed;
}

.navbar {
  display: flex;
  // border: 1px solid red;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 90%;
  margin: 0 auto;
}

.logo {
  width: 50%;
}

.navbar-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-list-item {
  font-family: $font2;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 1rem;
}
.navbar-list-item:hover {
  color:$primary;
}
.navbar-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container {
  height: 100vh;
}

.main-container {
  background: url(/assets/images/circle.svg), url(/assets/images/blob-small.svg);
  background-position: 190% 200%, 100% 60%;
  background-repeat: no-repeat, no-repeat;
  background-size: 80% 110%, 190% 60%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  flex: 1 1 50%;
  font-weight: 500;
}

.main-1 {
  padding: 6em;
}

.main-2 {}

.main-1-text {
  font-size: 2rem;
  padding: 0 3rem;
  line-height: 2.5rem;
}

.main-1-line {
  padding: 0 3rem;
  height: .5rem;
  margin-bottom: 2rem;
}

.main-1-img {
  width: 80%;
}
