<div class="container main-container">
    <app-header></app-header>
    <div class="flex-row">
        <div class="flex-item main-1">
            <div class="main-1-text">
                We make it Super Simple
            </div>
            <img class="main-1-line" src="assets/images/line.svg">
            <img class="main-1-img" src="assets/images/collect_img-video.png">
        </div>
        <div class="flex-item main-2">
            <app-eligibility-calculator></app-eligibility-calculator>
        </div>
    </div>
</div>